<!DOCTYPE html>
<html>
    <head>
        <title>Informações do meu irmao</title>
    </head>
    <body>
        <h1>Relação: irmao</h1>
        <h2>Nome: {{nome}}</h2>
        <h2>Idade: {{idade}}</h2>

        <!--Escreva o link correto para a fonte da imagem no lugar de #. As imagens estão armazenadas na
            pasta static. Se você não gostar dessas imagens, você pode usar as suas próprias imagens-->
        <img src = "C:\Python\PRO_1-1_C116_TemplateDoProjeto-main\family tree\static\irmao.jpg" alt = "irmao" width = "200"/>
    </body>
</html>